* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.9;
  font-weight: 300;
}

//navbar 
nav {
  background: #2b2b2b;
  z-index: 2;
  height: 36px;

  .nav-link {
    font-size: 12px !important;
    padding: 0;
    margin: 3px 7px;
    font-weight: 500 !important;
    transition: all 0.3s ease-in-out;

    &:hover,
    :focus {
      transition: all 0.3s ease-in-out;
      color: #03a87c !important;
    }
  }

  .link-icon {
    margin-left: 8rem;
    position: relative;

    &::before {
      content: '';
      background: #03a87c;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 5px;
      left: 15px;
      border-radius: 50%;
    }

    &::after {
      content: '';
      background: #03a87c6e;
      position: absolute;
      width: 19px;
      height: 19px;
      top: 0px;
      left: 10px;
      border-radius: 50%;
      animation: showing 2s infinite;
    }

    @keyframes showing {
      0% {
        opacity: 0;
        width: 19px;
        height: 19px;
      }

      40% {
        opacity: .2;
        width: 20px;
        height: 20px;
      }

      50% {
        opacity: 1;
        width: 21px;
        height: 21px;
      }

      100% {
        opacity: 0;
        widows: 22px;
        height: 22px;
      }
    }
  }
}

//collapse
#collapse {
  &:focus {
    transition: all 0.3s ease-in-out;
    color: #03a87c !important;
  }
}

#collapse-link-1 {
  transition: all .1s ease-in-out;
  position: absolute;
  top: 2rem;
  background: #2b2b2b;
  left: 9rem;
  height: 57px;
}

#collapse-link-2 {
  transition: all .1s ease-in-out;
  position: absolute;
  top: 2rem;
  background: #2b2b2b;
  left: 14rem;
  width: 71%;
  height: 9px;
}

#collapse-link-3 {
  position: absolute;
  top: 2rem;
  background: #2d2d2d;
  left: 9rem;
  right: 18rem;
  z-index: 1020;
  height: 32vh;

  a {
    text-decoration: none;

    &:hover {
      transition: all 0.3s ease-in-out;
      color: #03a87c !important;
    }
  }

  li {
    list-style: none;
  }
}

//Header-------------------
header {
  position: relative;
  margin-bottom: 130rem;
  z-index: 1;

  .col-lg-12 {
    background: url(../img/01_kv.jpg);
    background-position: center;
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    height: 316vh;

    .img-head {
      position: relative;

      img {
        position: absolute;
        top: 14rem;
        z-index: 2;
        left: 28rem;
      }

      h2 {
        position: absolute;
        top: 20rem;
        color: #fff;
        font-weight: normal;
        left: 35rem;
        font-size: 40px;
      }
    }

    .description-head {
      position: relative;

      p {
        position: absolute;
        top: 110rem;
        font-weight: normal;
        left: 1rem;
        line-height: 1.9;
        font-size: 21px;
        padding: 17px 323px;
      }

    }

    #img-head {
      position: absolute;
      top: 126rem;
      left: 39rem;
      width: 17%;
    }
  }

}

//Video---------------------------
#video {
  padding: 12rem 3rem;
  background: #304044;

  .img-video {
    position: relative;
    overflow: hidden;
    right: 155px;
    width: 800px;

    img {
      transition: all 0.3s ease-in-out;

      &:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
      }
    }
  }

  .description-video {
    position: absolute;
    top: 411px;
    padding: 10px 0px;
    left: 170px;
    height: 48px;
    background: #000000ba;
    width: 800px;
  }

  .modal {
    height: 92vh !important;
    top: -2rem !important;
    margin-left: 20rem !important;
    overflow-x: unset;
    overflow-y: unset;

    .modal-header {
      border: none;
    }

    video {
      width: 241%;
    }
  }
}


//Express----------------------
#express {


  .express-main {
    background: url(../img/02_banner.jpg);
    background-position: center;
    width: 100%;
    height: 95vh;
    background-attachment: fixed;
    z-index: 2;
    position: relative;

    .dscp-express {
      position: absolute;
      top: 13rem;
      left: 14rem;
      width: 22%;

      h3 {
        font-size: 31px;
        font-weight: 300;
      }

      h1 {
        font-size: 32px;
        line-height: 1.9;
        font-weight: 400;
      }
    }
  }
}

//Design----------------------
#design {
  .design-main {
    background: url(../img/bg.jpg);
    background-position: center;
    width: 100%;
    height: 234vh;
    position: relative;

    .top-img {
      position: absolute;
      top: -14rem;
      z-index: 1;
    }

    .boom-img {
      position: absolute;
      top: -1rem;
      z-index: 0;
      left: 0rem;
    }

    .design-body {
      .design-title {
        padding: 41rem 23rem;

        h5 {
          font-weight: 600;
          color: #f0ec1d;
          font-size: 23px;
        }

        p {
          font-size: 22px;
        }
      }
    }
  }

  .design-post {
    width: 85%;
    margin-top: -38rem;
    margin-right: 7rem;
  }

  .design-btn {
    text-align: center;
    margin-top: 5rem;

    button {
      padding: 11px 35px;
      border: 1px solid #fff200;
      border-radius: 24px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #f0ec1d;
      }
    }
  }
}


//Color--------------------
#color {
  height: 100vh;

  .color-main {
    background: url(../img/1_main.jpg);
    background-position: center;
    top: -21rem;
    width: 100%;
    height: 240vh;
    position: relative;
    z-index: -1;

    .color-title {
      padding: 31rem 23rem 1rem 20rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}

//carousel
#my-carousel-express {
z-index: 3;
  .carousel {
    z-index: 2;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background: none;
    font-size: 31px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 5vh;
    top: 21rem;
    width: 4%;
    left: 1rem;
  }

  .carousel-indicators li {
    width: 12px;
    height: 13px;
    margin-right: 10px;
    border-radius: 50%;

    i {
      position: relative;
      top: -9px;
      left: -2px;
      color: #9c9c9c;
    }
  }
}

#carousel {
  margin-top: 42rem;
  height: 87vh;
  background: #222222;

  a {
    width: 2%;
    top: 11rem;
    z-index: 2;
    background: #000000d9;
    height: 20%;
  }

  .carousel {
    top: -3rem;

    p {
      font-size: 18px;
      padding: 14px 36px;
      font-weight: 400;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 2;
}

//Free---------------------
#free {
  .free-main {
    background: url(../img/05_banner.jpg);
    background-position: center;
    width: 100%;
    height: 95vh;
   
    z-index: 2;
    position: relative;

    .dscp-free {
      position: absolute;
      top: 14rem;
      left: 14rem;
      width: 22%;

      h3 {
        font-size: 31px;
        font-weight: 300;
      }

      h1 {
        font-size: 50px;
        line-height: 1.9;
        font-weight: 400;
      }
    }
  }
}


//Light-------------------------------
#light {
  .light-main {
    background: url(../img/bg2.jpg);
    background-position: center;
    width: 100%;
    height: 210vh;
    z-index: 2;
    position: relative;

    .light-title {
      padding: 6rem 47rem 4rem 13rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }
    }

  }

  .laptop-light-1 {
    position: absolute;
    top: 11rem;
    left: 27rem;

  }


  .laptop-light-2 {
    position: absolute;
    top: 33rem;
    right: 20rem;
    z-index: 0;

  }

  .laptop-light-3 {
    position: absolute;
    top: 29rem;
    right: 22rem;

  }



  .laptop-light-4 {
    position: absolute;
    top: 31rem;
    right: -17rem;

  }

  .laptop-light-5 {
    position: absolute;
    top: 69rem;
    right: 17rem;
  }

  .laptop-light-6 {
    position: absolute;
    top: 56rem;
    right: 72.4rem;
  }

  .laptop-light-7 {
    position: absolute;
    top: 86rem;
    right: 5rem;
  }

  .laptop-light-8 {
    position: absolute;
    top: 14rem;
    right: 33rem;
  }

  .laptop-light-9 {
    position: absolute;
    top: 26rem;
    right: 81rem;
  }

  .laptop-light-4,
  .laptop-light-5,
  .laptop-light-6,
  .laptop-light-7,
  .laptop-light-8,
  .laptop-light-9 {
    animation: laptop 8s infinite;
  }


  @keyframes laptop {
    0% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }

    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }

    100% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
}


#feature {
  background: url(../img/07_main.jpg);
  background-position: center;
  width: 100%;
  height: 270vh;
  z-index: 2;
  position: relative;


  .feature-title {
    padding: 12rem 27rem 3rem 24rem;

    h5 {
      font-weight: 600;
      color: #f0ec1d;
      font-size: 23px;
    }

    p {
      font-size: 21px;
    }
  }

  .post-feature {
    img {
      width: 59%;
      padding: 20px 0px;
    }
  }

  .po-feature {
    margin: -2px 29px;

    span {
      position: relative;
      right: 3px;
      font-weight: 500;
      top: -16px;
    }
  }

  #number,
  #number1 {
    font-size: 50px;
    font-weight: 700;
  }

}

#discover {
  .discover-main {
    background: url(../img/08_banner.jpg);
    background-position: center;
    width: 100%;
    height: 95vh;
    background-attachment: fixed;
    z-index: 2;
    position: relative;

    .dscp-discover {
      position: absolute;
      top: 15rem;
      left: 14rem;
      width: 22%;


      h3 {
        font-size: 31px;
        font-weight: 300;
      }

      h1 {
        font-size: 50px;
        line-height: 1.9;
        font-weight: 400;
      }
    }
  }
}



//performance-------------------------------
#performance {
  .performance-main {
    background: url(../img/laptp.jpg);
    background-position: center;
    width: 100%;
    height: 190vh;
    z-index: 3;
    position: relative;

    .performance-title {
      padding: 6rem 53rem 4rem 7rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }
    }

  }

  .laptop-per-1 {
    position: absolute;
    top: -4rem;
    left: 28rem;

  }


  .laptop-per-2 {
    position: absolute;
    top: -1rem;
    right: -8rem;
    z-index: 0;

  }

  .per-footer {
    margin-top: 34rem;

    .spn {
      position: relative;
      top: -37px;
    }

    .per-tit {

      span {
        padding: 36px 6px;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

//conection-------------------
#conection {
  height: -webkit-fill-available;

  .conection-main {
    background: url(../img/10_main.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 295vh;
    top: -35rem;
    z-index: 2;
    position: relative;

    .conection-title {
      padding: 45rem 12rem 3rem 43rem;


      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }
    }

    .conc-footer {
      margin-top: 0rem;
      margin-left: 34rem;

      .spn {
        position: relative;
        top: -37px;
      }

      .conc-tit {

        span {
          padding: 36px 6px;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}



//number-------------------
#number {
  .number-main {
    background: url(../img/bg3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 206vh;
    top: 53rem;
    z-index: 1;
    position: relative;

    .number-img {
      position: absolute;
      left: 5rem;
      top: 0;
      z-index: -1;
    }

    .number-title {
      padding: 44rem 27rem 3rem 25rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }

      img {
        width: 13%;
      }
    }
  }
}


//audio-------------------
#audio {
  .audio-main {
    background: url(../img/12_main.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200vh;
    top: 53rem;
    z-index: 1;
    position: relative;

    .audio-img {
      position: absolute;
      left: 5rem;
      top: 0;
      z-index: -1;
    }

    .audio-title {
      padding: 16rem 8rem 4rem 49rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }
    }
  }
}



//sticker-------------------
#sticker {
  .sticker-main {
    background: url(../img/sticker.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200vh;
    top: 53rem;
    z-index: 1;
    position: relative;

    .sticker-img {
      position: absolute;
      left: 5rem;
      top: 0;
      z-index: -1;
    }

    .sticker-title {
      padding: 6rem 28rem 4rem 23rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }
    }
  }
}



//product-------------------
#product {
  .product-main {
    background: url(../img/13_main.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 106vh;
    top: 53rem;
    z-index: 1;
    position: relative;

    .product-title {
      padding: 9rem 26rem 3rem 26rem;

      h5 {
        font-weight: 600;
        color: #f0ec1d;
        font-size: 23px;
      }

      p {
        font-size: 21px;
      }
    }

    .product-footer {
      .spn-pro {
        position: relative;
        top: -12px;
        left: -8px;
        font-size: 15px;
        font-weight: 500;
      }

      .product-tit {
        h4 {
          font-size: 60px;
        }

        span {
          font-size: 29px;
          margin: 7px 0px;
        }
      }
    }

    .pro-btn {
      text-align: center;
      margin-top: 5rem;

      button {
        padding: 11px 35px;
        border: 1px solid #fff200;
        border-radius: 24px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: #f0ec1d;
        }
      }
    }
  }
}







/** mobile nav **/
.nav-toggle {
  top: 1rem;
  width: 18px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all .25s ease;
}


.nav-toggle span:nth-child(1) {
  top: 0px;
  width: 50%;
  left: 50%;
}

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 7px;
}

.nav-toggle span:nth-child(1) {
  top: 14px;
}

.nav-toggle span:nth-child(4) {
  width: 50%;
  right: 50%;
}

.nav-toggle {
  transition-delay: 0.2s;
  transform: rotate(-45deg);
}

.default-nav>.nav-toggle:hover span {
  width: 100%;
  right: 0;
  left: 0;
}