@media (max-width: 575.98px) {
  // navbar
  .link-icon {
    margin-left: -1rem !important;
  }

  #nav {
    display: none !important;
  }

  .link-icon {
    top: -3px;
  }
  //collapse
  #collapse-link-1 {
    width: 100%;
    left: 0rem !important;
    height: 114px;
    li {
      margin-right: 2rem;
      flex-wrap: wrap;
    }

    a {
      font-size: 9px !important;
      margin: -6px 3px !important;
  }
  }

  #collapse-link-3 {
    right: 10px;
    width: 94%;
    height: 66vh;
  }


  .nav-toggle {
    display: block !important;
    position: absolute;
    top: 8px;
    left: 23rem;
  }

  #collapse-menu {
    ul{ display: block;}
    background: #2b2b2b;
    width: 100%;
    position: absolute;
    top: 2rem;
    height: 47vh;
    right: -1px;
    text-align: right;
    .nav-item{
      margin: 14px -79px 14px 5px;
    }
  }

  //Header
  header {
    margin-bottom: 113em;

    .col-lg-12 {
      height: 286vh;

      .description-head {
        p {
          top: 97rem;
          font-size: 16px !important;
        }
      }
    }

    .img-head {
      img {
        left: 1rem !important;
        width: 84% !important;
      }

      h2 {
        top: 17rem !important;
        left: 6rem !important;
        font-size: 19px !important;
      }
    }

    .description-head {
      p {
        padding: 2px 15px !important;
        font-size: 10px !important;
      }

    }

    #img-head {
      top: 117rem !important;
      left: 8rem !important;
      width: 46% !important;
    }
  }

  //Video
  #video {
    padding: 10rem 3rem;

    .img-video {
      position: relative;
      top: 6rem;
      right: -25px;
      width: 119%;

      img {
        width: 101%;
      }
    }

    .description-video {
      left: -15px;
      width: 344px;
      top: 256px;
      height: 38px;

      p {
        font-size: 10px;
      }
    }

    .modal {
      top: 13rem !important;
      margin-left: 1rem !important;

      video {
        width: 109%;
      }
    }
  }

  //Express
  #express {
    position: relative;

    .express-main {
      background: url(../img/03_bannerjpg.jpg) !important;
      background-position: center !important;
      height: 89vh;

      .dscp-express {
        top: 31rem;
        left: 1rem;
        width: 92%;
      }
    }
  }

  //Design
  .design-main {
    height: 231vh !important;
    background: #706f75 !important;
  }

  .design-post {
    margin-right: 3rem !important;
    width: 82% !important;
    margin-top: -32rem !important;

    img {
      width: 100%;
    }
  }

  .boom-img {
    display: none;
  }

  .top-img {
    display: none;
  }

  .design-title {
    padding: 3rem 1rem 35rem 0rem !important;
    text-align: right !important;

    p {
      font-size: 13px !important;
    }
  }

  .item-design {
    width: 76%;
    margin-right: 28px;
    padding-bottom: 2rem;
  }

  //Color 
  .color-main {
    height: 237vh !important;

    .color-title {
      padding: 28rem 15px 2rem 0 !important;
      text-align: right !important;

      h2 {
        font-size: 23px;
      }

      p {
        font-size: 15px !important;
      }
    }
  }

  //Carousel
  #carousel {
    margin-top: 42rem;
    height: 79vh;

    a {
      top: 8rem;
    }
  }

  #my-carousel {
    display: none !important;
  }

  #my-carousel-1 {
    img {
      width: 101%;
    }

  }

  .carousesl-title {
    width: 100% !important;
  }

  //free
  #free {
    position: relative;

    .free-main {
      background: url(../img/05_banner22.jpg) !important;
      background-position: center !important;
      height: 89vh;

      .dscp-free {
        top: 22rem;
        left: 1rem;
        width: 92%;
      }
    }
  }

  //Light
  .light-main {
    background: url(../img/06_main.jpg) !important;
    height: 118vh !important;

    .laptop-img {
      display: none;
    }

    .light-title {
      padding: 6rem 2rem 4rem 1rem !important;
      text-align: right !important;

      p {
        font-size: 16px !important;
      }

      span {
        font-size: 34px !important;
      }
    }
  }


  //Feature
  #feature {
    left: 0;
    margin-top: -7rem;
    margin-left: -650px;
    width: 100%;
    height: 125vh;
    background-size: cover;

    .feature-title {
      text-align: right !important;
      padding: 1rem 1rem 0rem 0rem !important;

      h2 {
        font-size: 23px;
      }

      p {
        font-size: 15px !important;
      }
    }

  }

  .wrapper {
    width: 100%;
    flex-wrap: wrap;
    margin-top: -3rem;
  }

  .post-feature img {
    width: 35% !important;
  }

  .po-feature span {
    font-size: 11px;
  }

  #feature #number,
  #feature #number1 {
    font-size: 30px !important;
    font-weight: 700 !important;
  }

  #num1,
  #num2 {
    position: relative;
    left: 2rem;
  }

  //discover
  #discover {
    position: relative;

    .discover-main {
      background: url(../img/08_banner22.jpg) !important;
      background-position: center !important;
      height: 89vh;

      .dscp-discover {
        top: 22rem;
        left: 1rem;
        width: 92%;
      }
    }
  }

  #performance {
    .performance-main {
      background: url(../img/09_main.jpg) !important;
      position: relative;
      top: 39rem;
      left: 282px;
      margin-top: -1px;
      width: 168%;
      height: 121vh;
    }

    .performance-title {
      padding: 2rem 18rem 1rem 2rem !important;
      text-align: center !important;
      position: absolute;
      background: #1e595d;
      top: -39rem;
    }

    .laptop-per-1 {
      position: absolute !important;
      top: 30rem !important;
      right: 6rem;

      img {
        width: 532px;
      }

    }

    .laptop-per-2 {
      position: absolute !important;
      top: 29rem !important;
      right: -37rem !important;
      z-index: 0;

      img {
        width: 43%;
      }
    }

    .laptop-per-3 {
      position: relative;
      z-index: -1;
      top: 39rem;
      left: 0rem;
      display: block !important;

      img {
        width: 73%;
      }
    }
  }

  .per-footer {
    margin-top: -10rem !important;
    margin-right: 16rem !important;
  }

  .per-warpeer {
    flex-wrap: wrap !important;
  }

  .per-tit {
    h4 {
      font-size: 40 !important;
    }
  }

  .per-tit span {
    padding: 17px 1px 36px 0px !important;
    font-size: 16px !important;
  }

  //conection
  #conection {
    .conection-main {
      background-position: center;
      background-size: cover;
      width: 146.3%;
      height: 185vh;
      top: 39rem;
      z-index: 2;
      left: 12rem;
      position: relative;
    }

    .conection-title {
      padding: 2rem 13rem 3rem 1rem !important;

      p {
        font-size: 16px !important;
      }




    }

    .conc-warpeer {
      flex-wrap: wrap;
      width: 101%;
    }

    .conc-footer {
      margin-top: -4rem !important;
      margin-left: 1rem !important;
    }

    .conc-tit {
      h4 {
        font-size: 61px !important;
        height: 23px;
      }

      span {
        padding: 38px 3px !important;
        font-size: 11px !important;
        font-weight: 500;
      }
    }

    #conc {
      position: relative !important;
      right: 19rem !important;
      top: 8rem !important;
    }
  }

  //number
  #number {
    .number-main {
      height: 113vh;
      top: 75rem;

      .number-img {
        position: absolute;
        left: 0rem;
        top: 3rem;

        img {
          width: 100%;
        }
      }

      .number-title {
        padding: 25rem 1rem 3rem 2rem !important
      }
    }
  }

  //audio
  #audio {
    .audio-main {
      left: 135%;
      margin-top: 296px;
      width: 235%;
      height: 195vh;
      background-size: inherit;


      .audio-title {
        padding: 2rem 36rem 0rem 0rem !important;

        p {
          font-size: 15px;
        }

      }
    }
  }

  //sticker
  #sticker {
    .sticker-main {
      background: none;
    }

    .sticker-title {
      background: linear-gradient(281deg, #213741, #4a7f95);
      padding: 2rem 2rem 0rem 1rem !important;
      text-align: right !important;

      p {
        font-size: 15px !important;
      }
    }

    img {
      display: block !important;
      position: relative;
      bottom: 23rem;
      width: 100%;
      height: 33vh;
    }
  }

  //product
  #product {
    height: 60px;
  }

  .product-main {
    height: 131vh !important;
    top: -23rem !important;

    .product-title {
      padding: 5rem 2rem 3rem 0rem !important;
      text-align: right !important;

      p {
        font-size: 16px !important;
      }
    }

    .product-warpeer {
      flex-wrap: wrap;
    }

    .product-tit {

      #bar {
        margin: -1px 6px 18px 0px !important;

      }
    }
  }

  #six {
    width: 30%;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  // navbar
  .link-icon {
    margin-left: -1rem !important;
  }

  #nav {
    display: none !important;
  }

  .link-icon {
    top: -3px;
  }
  //collapse
  #collapse-link-1 {
    width: 100%;
    left: 0rem !important;
    height: 88px;
    li {
      margin-right: 2rem;
      flex-wrap: wrap;
    }

    a {
      font-size: 11px !important;
      margin: -6px 3px !important;
  }
  }

  #collapse-link-3 {
    right: 1rem;
    width: 97%;
    height: 29vh;
  }


  .nav-toggle {
    display: block !important;
    position: absolute;
    top: 8px;
    left: 45rem;
  }

  #collapse-menu {
    ul{ display: block;}
    background: #2b2b2b;
    width: 100%;
    position: absolute;
    top: 2rem;
    height: 33vh;
    right: -1px;
    text-align: right;
    .nav-item{
      margin: 14px -79px 14px 5px;
    }
  }

  //Header
  header {
    .col-lg-12 {
      height: 220vh;
    }

    .img-head {
      img {

        left: 5rem !important;
      }

      h2 {
        top: 22rem !important;
        left: 12rem !important;
      }
    }

    .description-head {
      p {
        padding: 2px 68px !important;
      }

    }


  }

  #img-head {
    top: 130rem !important;
    left: 18rem !important;
    width: 29% !important;
  }

  //Video
  #video {
    .img-video {
      right: -82px;
      width: 784px;

      img {
        width: 76%;
      }
    }

    .description-video {
      left: 48px;
      width: 597px;
      top: 293px;
    }

    .modal {
      top: 13rem !important;
      margin-left: 8rem !important;

      video {
        width: 154%;
      }
    }
  }

  //Express
  #express {
    position: relative;

    .express-main {
      background: url(../img/03_bannerjpg.jpg) !important;
      background-position: center !important;
      height: 64vh;

      .dscp-express {
        top: 31rem;
        left: 14rem;
        width: 42%;
      }
    }
  }

  //Design
  .design-main {
    height: 119vh !important;
  }

  .design-post {
    margin-right: 3rem !important;

    img {
      width: 100%;
    }
  }

  .boom-img {
    top: 1rem !important;
    left: 4rem !important;

    img {
      width: 108%;
    }
  }

  .top-img {
    top: -9rem !important;
  }

  .design-title {
    padding: 26rem 3rem 41rem 4rem !important;
  }

  //Color 
  .color-main {
    height: 167vh !important;

    .color-title {
      padding: 30rem 0 1rem 0 !important;
    }
  }

  //Carousel
  #carousel {
    margin-top: 21rem;
    height: 79vh;
  }

  #my-carousel-1 {
    img {
      width: 336%;
    }

  }

  .carousesl-title {
    width: 309% !important;
  }

  #my-carousel {
    display: none !important;
  }

  //free
  #free {
    position: relative;

    .free-main {
      background: url(../img/05_banner22.jpg) !important;
      background-position: center !important;
      height: 48vh;
      left: 181rem;
      width: 477%;

      .dscp-free {
        top: 14rem;
        left: 5rem;
        width: 17%;
      }
    }
  }

  //Light
  .light-main {
    background: url(../img/06_main.jpg) !important;
    height: 118vh !important;

    .laptop-img {
      display: none;
    }

    .light-title {
      padding: 7rem 4rem 4rem 4rem !important;
      text-align: center !important;
    }
  }


  //Feature
  #feature {
    left: 0;
    margin-top: -3px;
    margin-left: -650px;
    width: 100%;
    height: 105vh;
    background-size: cover;

    .feature-title {
      padding: 1rem 3rem 0rem 2rem !important;
    }
  }


  //discover
  #discover {
    position: relative;

    .discover-main {
      background: url(../img/08_banner22.jpg) !important;
      background-position: center !important;
      height: 48vh;
      left: 181rem;
      width: 477%;

      .dscp-discover {
        top: 14rem;
        left: 5rem;
        width: 17%;
      }
    }
  }


  //Performance
  #performance {
    .performance-main {
      background: url(../img/09_main.jpg) !important;
      position: relative;
      top: 22rem;
      left: 282px;
      margin-top: -1px;
      width: 1049px;
      height: 121vh;
    }

    .performance-title {
      padding: 2rem 18rem 1rem 2rem !important;
      text-align: center !important;
      position: absolute;
      background: #1e585c;
      top: -22rem;
    }

    .laptop-per-1 {
      position: absolute !important;
      top: 31rem !important;
      left: 10rem !important;

      img {
        width: 95%;
      }

    }

    .laptop-per-2 {
      position: absolute !important;
      top: 14rem !important;
      right: -14rem !important;
      z-index: 0;
    }

    .laptop-per-3 {
      position: relative;
      z-index: -1;
      top: 40rem;
      display: block !important;

      img {
        width: 959;
      }
    }
  }

  .per-footer {
    margin-top: -28rem !important;
    margin-right: 16rem !important;
  }

  .per-warpeer {
    flex-wrap: wrap !important;
  }

  .per-tit {
    h4 {
      font-size: 40 !important;
    }
  }

  .per-tit span {
    padding: 17px 1px 36px 0px !important;
    font-size: 16px !important;
  }


  //conection
  #conection {
    .conection-main {
      position: relative;
      left: 50%;
      margin-top: -344px;
      margin-left: -650px;
      width: 150%;
      top: 43rem;
      height: 162vh;
    }

    .conection-title {
      padding: 2rem 26rem 3rem 4rem !important;
      text-align: center !important;
    }

    .conc-footer {
      margin-right: 24rem !important;
      width: 63%;
    }
  }

  //number
  #number {
    .number-main {
      height: 113vh;
      top: 75rem;

      .number-img {
        position: absolute;
        left: 2rem;
        top: 7rem;
        z-index: -1;

        img {
          width: 100%;
        }
      }

      .number-title {
        padding: 36rem 8rem 3rem 8rem !important;
      }
    }
  }

  //audio
  #audio {
    .audio-main {
      left: 50%;
      margin-top: 296px;
      width: 150%;
      height: 140vh;
      background-size: inherit;

      .audio-title {
        padding: 1rem 35rem 0rem 11rem !important;
        text-align: center !important;
      }
    }
  }

  //sticker
  #sticker {
    .sticker-main {
      background: none;
    }

    .sticker-title {
      background: linear-gradient(281deg, #1d3138, #447d95);
      padding: 2rem 5rem 7rem 7rem !important;
    }

    img {
      display: block !important;
      position: relative;
      bottom: 56rem;
      width: 100%;
      height: 73vh;
    }
  }

  //product
  #product {
    height: 126px;
  }

  .product-main {
    height: 87vh;
    top: -56rem !important;

    .product-title {
      padding: 4rem 7rem 2rem 9rem !important;
    }
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  // navbar
  nav {
    .link-icon {
      margin-left: -1rem !important;
    }

    ul.navbar-nav {
      margin: 0rem -32px !important;
    }

    .nav-link {
      padding: 0;
      margin: 3px 1px !important;
    }
  }

  //collapse
  #collapse-link-1 {
    width: 82%;
    left: 5rem !important;

    li {
      margin-right: 3rem;
    }

    a {
      font-size: 8px !important;
    }
  }

  #collapse-link-3 {
    right: 1rem;
    width: 97%;
    height: 19vh;
  }

  //Header
  header {
    margin-bottom: 126rem;

    .col-lg-12 {
      height: 160vh;

      #img-head {
        top: 126rem;
        left: 25rem;
        width: 23%;
      }
    }

    .img-head {
      img {
        left: 12rem !important;
      }

      h2 {
        top: 22rem !important;
        left: 19rem !important;
      }
    }

    .description-head {
      p {
        top: 103rem !important;
      }

      p {
        padding: 2px 133px !important;
      }

    }

  }

  //Video
  #video {
    .img-video {
      right: 46px;
    }

    .description-video {
      left: 67px;
    }

    .modal {
      top: 17rem !important;
      margin-left: 16rem !important;

      video {
        width: 209%;
      }
    }
  }

  //Express
  #express {
    position: relative;

    .express-main {
      background: url(../img/03_bannerjpg.jpg) !important;
      background-position: center !important;
      height: 48vh;

      .dscp-express {
        top: 31rem;
        left: 14rem;
        width: 55%;
      }
    }
  }

  //Design
  .design-main {
    height: 115vh !important;
  }

  .design-post {
    margin-right: 5rem !important;

    img {
      width: 100%;
    }
  }

  .boom-img {
    top: 3rem !important;
    left: 5rem !important;

    img {
      width: 108%;
    }
  }

  .top-img {
    top: -9rem !important;
  }

  .design-title {
    padding: 36rem 10rem 43rem 10rem !important;
  }

  //Color 
  .color-main {
    height: 131vh !important;

    .color-title {
      padding: 30rem 8rem 1rem 8rem !important;
    }
  }

  //Carousel
  #carousel {
    margin-top: 5rem;
    height: 51vh;
  }

  //free
  #free {
    position: relative;

    .free-main {
      background: url(../img/05_banner22.jpg) !important;
      background-position: center !important;
      height: 48vh;
      left: 182rem;
      width: 384%;

      .dscp-free {
        top: 25rem;
        left: 8rem;
        width: 21%;
      }
    }
  }

  //Light
  .light-main {
    background: url(../img/06_main.jpg) !important;
    height: 88vh !important;

    .laptop-img {
      display: none;
    }

    .light-title {
      padding: 7rem 10rem 4rem 9rem !important;
      text-align: center !important;
    }
  }

  //Feature
  #feature {
    left: 0;
    margin-top: -1px;
    margin-left: -650px;
    width: 100%;
    height: 83vh;
    background-size: cover;

    .feature-title {
      padding: 2rem 15rem 0rem 13rem !important;
    }
  }

  //discover
  #discover {
    position: relative;

    .discover-main {
      background: url(../img/08_banner22.jpg) !important;
      background-position: center !important;
      height: 48vh;
      left: 182rem;
      width: 384%;

      .dscp-discover {
        top: 25rem;
        left: 8rem;
        width: 21%;
      }
    }

  }

  //Performance
  #performance {
    .performance-main {
      background: url(../img/09_main.jpg) !important;
      position: relative;
      top: 16rem;
      left: 282px;
      margin-top: -1px;
      width: 1303px;
      height: 96vh;
    }

    .performance-title {
      padding: 2rem 26rem 1rem 10rem !important;
      text-align: center !important;
      position: absolute;
      background: #1c565a;
      top: -16rem;
    }

    .laptop-per-1 {
      position: absolute !important;
      top: 21rem !important;
      left: 10rem !important;
    }

    .laptop-per-2 {
      position: absolute !important;
      top: 22rem !important;
      right: -5rem !important;
      z-index: 0;
    }

    .laptop-per-3 {
      position: relative;
      z-index: -1;
      top: 42rem;
      display: block !important;
    }
  }

  .per-footer {
    margin-top: -30rem !important;
    margin-right: 15rem !important;
  }

  //conection
  #conection {
    .conection-main {
      position: relative;
      left: 50%;
      margin-top: -344px;
      margin-left: -650px;
      width: 150%;
      top: 39rem;
      height: 125vh;
    }

    .conection-title {
      padding: 2rem 41rem 3rem 11rem !important;
      text-align: center !important;
    }

    .conc-footer {
      margin-top: 0rem;
      margin-right: 33rem !important;
      width: 63%;
    }
  }

  //number
  #number {
    .number-main {
      height: 93vh;

      .number-img {
        position: absolute;
        left: 2rem;
        top: 7rem;
        z-index: -1;

        img {
          width: 100%;
        }
      }

      .number-title {
        padding: 42rem 8rem 3rem 8rem !important;
      }
    }
  }

  //audio
  #audio {
    .audio-main {
      left: 50%;
      margin-top: -1px;
      width: 150%;
      height: 118vh;

      .audio-title {
        padding: 1rem 42rem 1rem 11rem !important;
        text-align: center !important;
      }
    }
  }

  //sticker
  #sticker {
    height: 71vh;

    .sticker-main {
      background: none;
    }

    .sticker-title {
      padding: 1rem 5rem 7rem 7rem !important;
    }

    img {
      display: block !important;
      position: relative;
      bottom: 118rem;
      width: 100%;
      height: 72vh;
    }
  }

  //product
  .product-main {
    height: 77vh;

    .product-title {
      padding: 5rem 13rem 3rem 16rem !important;
    }
  }
}