@media (max-width: 575.98px) {
  header {
    margin-bottom: 113em;
  }
  header .col-lg-12 {
    height: 286vh;
  }
  header .col-lg-12 .description-head p {
    top: 94rem;
  }
  header .img-head img {
    left: 1rem !important;
    width: 84% !important;
  }
  header .img-head h2 {
    top: 17rem !important;
    left: 6rem !important;
    font-size: 19px !important;
  }
  header .description-head p {
    padding: 2px 15px !important;
    font-size: 10px !important;
  }
  header #img-head {
    display: none;
  }
  #video {
    padding: 10rem 3rem;
  }
  #video .img-video {
    position: relative;
    top: 6rem;
    right: -25px;
    width: 119%;
  }
  #video .img-video img {
    width: 101%;
  }
  #video .description-video {
    left: -15px;
    width: 344px;
    top: 256px;
    height: 38px;
  }
  #video .description-video p {
    font-size: 10px;
  }
  #video .modal {
    top: 13rem !important;
    margin-left: 1rem !important;
  }
  #video .modal video {
    width: 109%;
  }
  #express {
    position: relative;
  }
  #express .express-main {
    background: url(../img/03_bannerjpg.jpg) !important;
    background-position: center !important;
    height: 89vh;
  }
  #express .express-main .dscp-express {
    top: 31rem;
    left: 1rem;
    width: 92%;
  }
  .design-main {
    height: 116vh !important;
  }
  .design-post {
    margin-right: 3rem !important;
  }
  .design-post img {
    width: 100%;
  }
  .boom-img {
    display: none;
  }
  .top-img {
    display: none;
  }
  .design-title {
    padding: 6rem 0rem 41rem 1rem !important;
    text-align: left !important;
  }
  .design-title p {
    font-size: 13px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  header .col-lg-12 {
    height: 220vh;
  }
  header .img-head img {
    left: 5rem !important;
  }
  header .img-head h2 {
    top: 22rem !important;
    left: 12rem !important;
  }
  header .description-head p {
    padding: 2px 68px !important;
  }
  header #img-head {
    display: none;
  }
  #video .img-video {
    right: -82px;
    width: 784px;
  }
  #video .img-video img {
    width: 76%;
  }
  #video .description-video {
    left: 48px;
    width: 597px;
    top: 293px;
  }
  #video .modal {
    top: 13rem !important;
    margin-left: 8rem !important;
  }
  #video .modal video {
    width: 154%;
  }
  #express {
    position: relative;
  }
  #express .express-main {
    background: url(../img/03_bannerjpg.jpg) !important;
    background-position: center !important;
    height: 64vh;
  }
  #express .express-main .dscp-express {
    top: 31rem;
    left: 14rem;
    width: 42%;
  }
  .design-main {
    height: 116vh !important;
  }
  .design-post {
    margin-right: 3rem !important;
  }
  .design-post img {
    width: 100%;
  }
  .boom-img {
    top: 1rem !important;
    left: 4rem !important;
  }
  .boom-img img {
    width: 108%;
  }
  .top-img {
    top: -9rem !important;
  }
  .design-title {
    padding: 26rem 3rem 41rem 4rem !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    margin-bottom: 126rem;
  }
  header .col-lg-12 {
    height: 160vh;
  }
  header .img-head img {
    left: 12rem !important;
  }
  header .img-head h2 {
    top: 22rem !important;
    left: 19rem !important;
  }
  header .description-head p {
    padding: 2px 133px !important;
  }
  header #img-head {
    display: none;
  }
  #video .img-video {
    right: 46px;
  }
  #video .description-video {
    left: 67px;
  }
  #video .modal {
    top: 17rem !important;
    margin-left: 16rem !important;
  }
  #video .modal video {
    width: 209%;
  }
  #express {
    position: relative;
  }
  #express .express-main {
    background: url(../img/03_bannerjpg.jpg) !important;
    background-position: center !important;
    height: 48vh;
  }
  #express .express-main .dscp-express {
    top: 31rem;
    left: 14rem;
    width: 55%;
  }
  .design-main {
    height: 109vh !important;
  }
  .design-post {
    margin-right: 5rem !important;
  }
  .design-post img {
    width: 100%;
  }
  .boom-img {
    top: 3rem !important;
    left: 5rem !important;
  }
  .boom-img img {
    width: 108%;
  }
  .top-img {
    top: -9rem !important;
  }
  .design-title {
    padding: 36rem 10rem 43rem 10rem !important;
  }
}
/*# sourceMappingURL=responsive.css.map */